.fundoLogin {
    background-image: url(../../assets/mao.jpeg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .efvidro {
    background: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
  }