/* .responsive-img {
    max-width: 100%;
    height: auto;
  } */

  .responsive-img{

    aspect-ratio:4;

  }
  
.img-produto {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

.img-carrosel {
  width: 100% !important;
  object-fit: cover !important;
  height: 200px;
}

.box2 img{
    object-fit: cover;
}


.box img {
    width: 100%;
    height: 100%;
  }



  